<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	
	<title>YOUR COMPANY - TEST REPORT</title>
		<style>
		hr.new1 {
  		border-top: 3px solid lightblue;
			}
	</style>			
</head>

	<body>
	<table class="w3-table">
	<tr> 
		<!-- <td class="w3-center"><img class="w3-centered"  src="images/logo-commtes.png" alt="" width="200" height="45"></td> -->
		<td class="w3-center"><b><h2>TEST REPORT</h2></b></td>
		<td></td>	
	</tr>
</table>

<!-- General Information table -->
<table class="w3-table w3-striped w3-bordered w3-card">
	<tr>
		<th colspan="2"class="w3-light-blue">P/N: INTERNALPN</th>
	</tr>
	<tr  class="w3-small">
		<td><b>Test Date:</b> TESTDATE</td>	
		<td><b>File Name:</b> FILENAME</td>
	</tr>
	<tr  class="w3-small">
		<td><b>Customer:</b> CUSTOMERNAME</td>	
		<td><b>Customer P/N:</b> CUSTPN</td>	
	</tr>

</table>
<!-- Manufacturer information table -->
<table class="w3-table w3-striped w3-bordered w3-card">
	<tr>
		<th colspan="2" class="w3-light-blue w3-center">Test Information</th>
	</tr>
	<tr  class="w3-small">
		<td><b>Model:</b> N9918A</td>	
		<td><b>S/N:</b> MY53103712</td>
	</tr>
	<tr  class="w3-small">
		<td><b>Start Frequency:</b> STARTF Mhz</td>	
		<td><b>Stop Frequency:</b> STOPF Mhz</td>	
	</tr>
	<tr  class="w3-small">
		<td><b>I/L Limit:</b> ILLIMIT db</td>	
		<td><b>R/L Limit:</b> RLLIMIT db</td>		
	</tr>
</table>
<table class="w3-table w3-striped w3-bordered w3-card">
	<tr>
		<th class="w3-light-blue w3-center">S11</th>
	</tr>
	<tr  class="w3-small">
		<td><img src="/tmp/S11.png" class="w3-padding" alt="S21"></td>	
	</tr>

</table>
<table class="w3-table w3-striped w3-bordered w3-card">
	<tr>
		<th class="w3-light-blue w3-center">S21</th>
	</tr>
	<tr  class="w3-small">
		<td><img src="/tmp/S21.png" class="w3-padding" alt="S21"></td>	
	</tr>


</table>

</body>
<footer>
<table class="w3-table w3-bordered w3-card w3-tiny">
 <tr>
 
  <td colspan="3"> 
	<div class="w3-panel w3-light-blue w3-leftbar w3-border-blue w3-tiny w3-center">
		<p>UnIRC NetWorks – <a href="https://www.unirc.eu./">www.unirc.eu</a> – <a href="mailto:victor@unirc.eu">victor@unirc.eu</a> </p>
		<p></p>
		<p></p>
	</div>  
  
  </td>
 </tr>
	
</table>
</footer>
</html>
